# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.prod
venv/
.venv/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
