<!DOCTYPE html>
{% extends 'htmlfiles/base.html' %}
{% load static %}
{% block title_block %}
    <title>{{ about_detail.title }}</title>
{% endblock %}
{% block childcode_block %}
    <div style="padding-top: 140px;">   {# <-- This pushes content below navbar #}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {{ about_detail.body|linebreaks }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}